/* You can add global styles to this file, and also import other style files */
body{
  font-family: "Lato", sans-serif;
  background-color: #e6e6e6;
}

.main-content{
  padding-top: 8%;
  color: #000000;
}
